## **INTRODUCTION**

- In the [introductory](https://github.com/Tess-hacker/INTRODUCTION-TO-PROGRAMMING-IN-R/blob/main/INTRODUCTION%20TO%20PROGRAMMING%20IN%20R.ipynb) and [second lessons](https://github.com/Tess-hacker/INTRODUCTION-TO-PROGRAMMING-IN-R/blob/main/ARITHMETIC%20EXPRESSIONS%20AND%20VARIABLES%20IN%20R.ipynb), we began our data science journey by learning the basics of programming in R, including:

    - Literals and data types: Logical, Numeric, Integer, and Character.
    
    - Arithmetic operators: addition `(+)`, subtraction `(-)`, multiplication `(*)`, and division `(/)`, Exponentiation `(^)`, Integer division `(%/%)`, and Modulo `(%%)`.
    
    - Some R syntax rules: R is case-sensitive, R allows only one instruction per line of code, and operator priority.


- To do so, we were using the following dataset extracted from a fruit market dataset. This dataset contains, for each day (day), the available fruits (item), the number of fruits sold (item sold), and remaining (item available). It also contains the purchase price and selling price of these fruits and whether a day is a supply day or not (supply): 

    | **S/NO** | **Day** | **Supply Day** | **Item** | **Purchase Price** | **Selling Price** | **Item Available** | **Item Sold** |
    | --- | --- | --- | --- | --- | --- | --- | --- |
    | 1	| 1L | TRUE | "Apple" | 10.50 | 12.10 | 200L | 0L |
    | 2 | 1L | TRUE | "Mangoes" | 21.15 | 24.90 | 50L | 0L |
    | 3 | 1L | TRUE | "Lemon" | 3.20 | 4.99 | 500L | 0L |
    | 4 | 2L | FALSE | "Apple"| 10.50 | 12.10 | 188L | 12L |
    | 5 | 2L | FALSE | "Mangoes" | 21.15 | 24.90 | 47L | 3L |
    | 6 | 2L | FALSE | "Lemon" | 3.20 |  4.99 | 476L | 24L |
    
    
- In this lesson, we'll use the fruit market dataset and build new programming skills on top of what we have learned so far dealing with logical expressions. Logical expressions are based on logical literals. We learned that there are two of them â€” "true" and "false". In R, we write respectively `TRUE` and `FALSE` or simply `T` and `F` (we will notice that all letters are in UPPERCASE just as we discussed in previous lessons. 


- This lesson will revolve around the following topics:

    - Relational operators
    
    - Comparing Arithmetic Expressions

    - Logical operators

    - Combining logical expression
    

- Let's dive right in.

## **RELATIONAL OPERATORS**

- Here, we shall use the above dataset to explore relational operators. **Relational operators are used to compare between values**. So, comparison operations return logical values TRUE or FALSE. 


- Here are those available in R:

    - Less than `(<)`,
    
    - Greater than `(>)`,
    
    - Less than or equal to `(<=)`,
    
    - Greater than or equal to `(>=)`,
    
    - Equal to `(==)`,
    
    - Not equal to `(!=)`.
    

- Let us explore some examples of how they are used:

In [1]:
# Check if the number of apples is greater than the number of lemons available in the shop on day 1: 
200L > 500L
# Check if the selling price of apples is less than or equal to the selling price of mangoes: 
12.10 <= 24.90
# Check if the number of sold apples is greater than the number of sold lemons in the shop on day 2 using values in the item sold column.
188L > 476L
# Check if the purchase price of apples is equal to the purchase price of mangoes using values in the purchase price column.
10.50 == 21.15

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

## **COMPARING ARITHMETIC EXPRESSIONS**

- In the previous lesson, we learned relational operators to compare values. Actually, it is also possible to compare variables and arithmetic expressions. Let us check an instance below:

In [2]:
# We can check if the profit (selling price minus purchase price) on the sale of an apple is less than the profit on the sale of a mango:
12.10 - 10.50 < 24.90 - 21.15

[1] TRUE

- R does not directly compare the expressions but rather their results. Hence, in our example, the expressions `12.10 - 10.50 and 24.90 - 21.15` are first evaluated to respectively `1.6 and 3.75`, and then these values are compared: `1.6 < 3.75`. This was clearly explained in the second lesson for this topic. You should check it out if you have any reservations.


- Alternatively, we can compute each fruit profit and store the results in variables and then compare these variables. Let's do that below:

In [3]:
apple_profit <- 12.10 - 10.50 
mango_profit <- 24.90 - 21.15

apple_profit < mango_profit

[1] TRUE

- Finally, we can also store the result in a variable below:

In [4]:
logical_var <- apple_profit < mango_profit
logical_var

[1] TRUE

- In terms of operator priority, keep in mind that **all arithmetic expression are evaluated first then logical expressions.**

- Let's practice more on the use of logical expressions.

In [6]:
apple_sold <- 12.10 * 12L
lemon_sold <- 4.99 * 24L
logical_var <- apple_sold == lemon_sold
logical_var

[1] FALSE

## **LOGICAL OPERATORS**

- In the previous sub-topic, we learned relational operators using this dataset of a fruit market. In this lesson, we will use the same dataset to explore the logical operators. 


- **Logical operators are used to combine logicals**. Logical operations, such as AND, OR, and NOT, return logical values `TRUE` or `FALSE`. Here are those available in R:

    - Logical NOT `(!)`,
    
    - Logical AND `(&&)`,
    
    - Logical OR `(||)`.


- Note that the symbol `|` uses for the logical OR is called a **pipe.** It was not the letter "L". To get it, it commonly requires the combination of keys. Typically, it is `shift + \`. If this combination does not work, search online "pipe symbol" specifying your keyboard type.


- Here is a table showing the use of the three logical operators and the yielding results:
    | **NOT** | **AND** | **OR** | 
    | --- | --- | --- | 
    | `!TRUE` yields `FALSE`	| `TRUE&&TRUE` yields `TRUE` | `TRUE*OR*TRUE` yields `TRUE` | 
    | `!FALSE` yields `TRUE` | `TRUE&&FALSE` yields `FALSE` | `TRUE *OR*FALSE` yields `TRUE` | 
    |  | `FALSE&&TRUE` yields `FALSE` | `FALSE*OR*TRUE` yields `TRUE` |  
    |  | `FALSE&&FALSE` yields `FALSE` | `FALSE*OR*FALSE` yields `FALSE` |  
    
    
- Note that:**I used *or* in place of the `||` sign because of the [rules](https://stackoverflow.com/questions/48655801/tables-in-markdown-in-jupyter/48657695) of creating a table in Jupyter which does not accomodate the sign. 


- All the operators we have seen so far are binary operators except the logical NOT which is an unary operator. A binary operator needs two elements (to the left and to the right of the operator like 2 + 5) whereas a binary operator needs only one element (to the right of the operator like !TRUE).

In [7]:
TRUE||FALSE
FALSE&&TRUE
!FALSE

[1] TRUE

[1] FALSE

[1] TRUE

## **COMBINING LOGICAL EXPRESSION**

- Like simple arithmetic expressions, simple logical expressions can be combined into complex logical expressions. **A complex logical expression represents the combination of several simple logical expressions using logical operators we learned in the previous screen.**


- Let's assume that we have the `apple_profit <- 12.10 - 10.50` variable. We want to check if `apple_profit` is between `1` and `3`, i.e., `apple_profit` is greater than or equal to `1` AND `apple_profit` is less than or equal to `3`. Here's what we will do:

In [8]:
apple_profit <- 12.10 - 10.50 
apple_profit >= 1 && apple_profit <= 3

[1] TRUE

- To evaluate this expression, the simple logical expressions `apple_profit >= 1` and `apple_profit <= 3` are first evaluated to respectively `TRUE` and `TRUE`, and then these values are combined: `TRUE && TRUE`.

- In terms of operator priority, keep in mind that **all simple logical expressions are evaluated first then their results are combined with logical operators.** If we have to establish a general priority rule of including all the operators we learned so far we will say that the elements are evaluated in the following order: 

    - Parentheses,
        
    - Exponentiation,
        
    - Division and multiplication,
        
    - Addition and subtraction,
        
    - Relational operators,
        
    - Logical operators.


- Let us practice more:

In [11]:
# total cost of sold apple on day 2
apple_profit <- 12.10 - 10.50
# total cost of sold mango on day 2
mango_profit <- 24.90 - 21.15
# total cost of sold lemon on day 2
lemon_profit <- 4.99 - 3.20
logical_var <- apple_profit <= mango_profit || apple_profit > lemon_profit
apple_profit
mango_profit
lemon_profit
logical_var

[1] 1.6

[1] 3.75

[1] 1.79

[1] TRUE

## **CONCLUSION**

- In this lesson, we learned how to:

    - Generate logical values with logical operations,
    
    - Combine logical and arithmetic expressions,
    
    - Create complex logical expressions with logical operators.


- In the next lesson, we'll delve deeper into what a data analysis workflow is about. We'll learn more skills crucial for using R to work with data, like loading, exploring, visualizing data.